[submodule "external/unity"]
	path = external/unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "external/tinycbor"]
	path = external/tinycbor
	url = https://github.com/intel/tinycbor.git
