[Unit]
Description=Archipel Core
After=network.target

[Service]
Type=simple

User=archipel
RuntimeDirectory=archipel-core
ConfigurationDirectory=archipel-core

Environment="TCPCLV3_PORT=4556"
EnvironmentFile=/etc/archipel-core/conf.env

ExecStart=/usr/bin/archipel-core --eid "dtn://${NODE_ID}/" --cla "tcpclv3:*,${TCPCLV3_PORT};file:" -s "${RUNTIME_DIRECTORY}/archipel-core.socket"
UMask=0007
Restart=on-failure

[Install]
WantedBy=multi-user.target
