# Example for Makefile configuration options
# Copy this to config.mk and either download the required software packages
# and extract them to an arbitrary directory or install them
# with your package manager. The variables show the defaults applied by the
# build system automatically.

# Toolchain to be used. `gcc` or `clang` can be selected
#TOOLCHAIN := gcc

# Toolchain prefix for local posix target
# can be left empy most of the time (default: search in $PATH)
#TOOLCHAIN_POSIX :=

# Prefix for the Clang compiler
#CLANG_PREFIX :=

# --sysroot provided to the Clang compiler, useful for providing the path to
# the embedded toolchain so the proper headers are found.
# If left empty, the option is not provided to the compiler.
#CLANG_SYSROOT_POSIX :=
