[Unit]
Description=µD3TN
After=network.target

[Service]
User=archipel
RuntimeDirectory=archipel-core
ExecStart=/usr/bin/ud3tn -s "/run/archipel-core/archipel-core.socket" -c "tcpclv3:*,4556;file:"
Type=simple
UMask=0007

[Install]
WantedBy=multi-user.target
